@import "fonts.css";
@import "styles.css";
@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(*/
  /*  to bottom,*/
  /*  transparent,*/
  /*  rgb(var(--background-end-rgb))*/
  /*) rgb(var(--background-start-rgb));*/
  font-family: "DIN", sans-serif;
}

/* Brutalist styles */
.border-2 {
  border-width: 2px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove focus outline from all links */
a:focus {
  outline: none;
}

/* Remove focus outline from buttons */
button:focus {
  outline: none;
}

/* Remove focus outline from all focusable elements */
*:focus {
  outline: none;
}

/* Transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
